@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'nasalization';
  src: url('../assets/fonts/nasalization-rg.otf');
  font-weight: 400;
  font-style: normal;
}
vm-player {
  --vm-slider-value-color: #00ffe8 !important;
}
vm-icon {
  --vm-icon-color: #00ffe8 !important;
  --vm-icon-stroke: #00ffe8 !important;
}
/* Apply Classes */

@layer base {
  body {
    @apply text-[#d1d5dd];
  }
  h1 {
    @apply text-white;
  }
  h2 {
    @apply text-white;
  }
  h3 {
    @apply text-white;
  }
  h4 {
    @apply text-white;
  }
  h5 {
    @apply text-white;
  }
  h6 {
    @apply text-white;
  }
  input {
    @apply placeholder:opacity-40
  }
  /* .tl-storyslider {
    @apply [height:69px!important];
  } */
}

@layer components {
  .navbar-icon {
    @apply fill-transparent stroke-[50] stroke-[#c7c7c7] opacity-50 group-hover:stroke-[60] group-hover:stroke-primary group-hover:opacity-100 group-hover:blur-lg;
  }

  .navbar-tooltip {
    @apply absolute z-10 w-auto p-2 m-2 text-xs font-bold text-white transition-all duration-100 origin-top scale-0 bg-black bg-opacity-75 rounded-md shadow-md min-w-max top-24;
  }
  p {
    @apply py-[5px];
  }
  h1 {
    @apply block text-3xl font-bold tracking-widest xs:text-4xl;
  }
  h2 {
    @apply block text-xl font-bold xs:text-2xl;
  }
  h3 {
    @apply block my-4 text-lg font-bold xs:text-xl;
  }
  h4 {
    @apply block my-1 text-lg font-bold xs:text-xl;
  }
  .no-marker > li::marker {
    color: transparent;
  }
  ul li {
    @apply pb-1 list-disc marker:text-primary;
  }
  ul {
    @apply mb-4 pl-7;
  }
  a {
    @apply cursor-pointer text-secondary hover:underline;
  }
  .hr-short {
    @apply w-16 mt-2;
  }
  img {
    display: unset;
  }
  .article-font * {
    font-family: inherit !important;
  }
  .children-square img {
    @apply object-cover w-32 h-32 sm:w-48 sm:h-48 lg:w-64 lg:h-64 xl:w-72 xl:h-72;
  }
  .child-delete-image img {
    @apply hidden;
  }
  .desc-truncate p {
    @apply break-words truncate lg:whitespace-normal lg:text-clip;
  }
  .hwhite h2 {
    color: #fff !important;
  }
  .bw p {
    @apply text-[#d1d5dd];
  }

  .hardpointGroup {
    @apply px-2 mb-5;
  }
  .hardpointGroupLabel {
    @apply mb-2 text-xl uppercase;
  }
  .hardpointGroupInner {
    @apply px-3 py-4;
  }
  .hardpointType {
    @apply relative flex flex-wrap justify-between mb-[10px] last:mb-0;
  }
  .hardpointTypeLabel {
    @apply flex items-center w-72 my-[5px] pr-5 text-[#959595];
  }
  .hardpointTypeIcon {
    @apply w-[30px] h-[30px] mr-[10px] align-middle;
  }
  .hardpointItems {
    @apply flex-grow lg:min-w-[300px] max-w-full;
  }
  .hardpointItem {
    @apply mb-[15px] flex items-center justify-between;
  }
  .hardpointItem:last-child {
    @apply mb-0;
  }
  .hardpointItemQuantity {
    @apply min-w-[45px] pr-[10px] whitespace-nowrap text-right;
  }
  .hardpointItemSlots {
    @apply flex flex-col justify-between flex-grow;
  }
  .hardpointItemSlot {
    @apply flex flex-col items-center justify-between;
  }
  .hardpointItemInner {
    @apply mb-[10px] relative flex flex-wrap-reverse items-center justify-between w-full py-[6px] px-[10px] border-0 border-primary rounded-[10px]
    /* before:absolute before:-top-[2px] before:left-[14px] before:right-[14px] before:h-[2px] before:bg-[#444] after:absolute after:-bottom-[2px] after:right-[14px] after:left-[14px] after:h-[2px] after:bg-[#444] */;
  }
  .hardpointItemInner:last-child {
    @apply mb-0;
  }
  /* .hardpointItemInner {
    @apply relative flex flex-wrap-reverse items-center justify-between w-full mb-[10px] py-[6px] px-[10px] border-2 border-primary rounded-[10px]
  } */
  .hardpointItemLoadout {
    @apply flex items-center justify-between w-full;
  }
  .hardpointItemLoadoutQuantity {
    @apply pr-[10px] whitespace-nowrap;
  }
  .hardpointItemLoadoutQuantityIcon {
    @apply w-[20px] align-middle;
  }
  .hardpointItemComponent {
    @apply flex-grow mr-[5px];
  }
  .hardpointItemSize {
    @apply pr-[10px] text-[#7a8288] whitespace-nowrap;
  }
  .hardpointItemComponent {
    @apply flex-grow mr-[5px] text-secondary;
  }
  .hardpointItemComponentManufacturer {
    @apply text-xs;
  }
}
@layer utilities {
  .tl-headline-date h3 {
    font-family: 'nasalization', sans-serif !important;
  }
}
/* .tl-storyslider {
  height: 569px !important;
}
.tl-timenav {
  max-height: 177px;
} */
/* .tl-headline-date h3{
  font-family: 'nasalization', sans-serif !important
} */
hr {
  width: 100%;
  height: 2px;
  background: #e48632;
  margin: 20px 0;
  border: none;
}
.react-tabs {
  @apply text-white;
}

.react-tabs__tab-list {
  @apply p-0 m-3;
}

.react-tabs__tab {
  @apply inline-block bottom-[-1px] relative opacity-50 list-none p-3 cursor-pointer transition-all duration-500;
}

.react-tabs__tab--selected {
  @apply opacity-100 text-primary;
}

.react-tabs__tab--disabled {
  @apply text-gray-400 cursor-default;
}

.react-tabs__tab:focus {
  @apply border-yellow-400 shadow-xl outline-none;
}

.react-tabs__tab:focus:after {
  @apply content-none absolute h-1 left-[-4px] right-[-4px] bottom-[-5px] bg-white;
}

.react-tabs__tab-panel {
  @apply hidden;
}

.react-tabs__tab-panel--selected {
  @apply block;
}

html {
  overflow-x: hidden;
}

html::-webkit-scrollbar-track {
  @apply rounded bg-bg-secondary;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /*border-radius: 10px; */
}

html::-webkit-scrollbar {
  @apply w-[7px] h-[7px] bg-bg-secondary;
}

html::-webkit-scrollbar-thumb {
  @apply rounded-md bg-primary;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebar-scrollbar {
  overflow-x: hidden;
}

.sidebar-scrollbar::-webkit-scrollbar-track {
  @apply rounded bg-bg-secondary;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /*border-radius: 10px; */
}

.sidebar-scrollbar::-webkit-scrollbar {
  @apply w-[6px] bg-bg-secondary;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded bg-primary;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

figcaption p span + figcaption p span::before {
  display: inline-block;
  white-space: pre;
  content: ', ';
}

#nprogress .spinner-icon {
  display: none;
}

:root {
  --swiper-navigation-size: 38px;
  --swiper-navigation-color: #00ffe8;
  --swiper-theme-color: #00ffe8;
  --swiper-pagination-bullet-inactive-color: #444;
  --swiper-pagination-color: #00ffe8;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  border-radius: 8888px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: 'prev';
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: 'next';
}
.swiper-button-lock {
  display: none;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}
.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 8px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 8px)
  );
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-bullet:only-child {
  display: none !important;
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}
.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-vertical
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet,
.swiper-vertical
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  display: inline-block;
  transition: 0.2s transform, 0.2s top;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}
.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  transition: 0.2s transform, 0.2s left;
}
.swiper-horizontal.swiper-rtl
  > .swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  transition: 0.2s transform, 0.2s right;
}
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}
.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}
.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}
.swiper-horizontal
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-vertical > .swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}
.swiper-pagination-lock {
  display: none;
}

.redacted {
  color: #ff6b6b;
  position: relative;
}
.redacted-small {
  color: #ff6b6b;
  position: relative;
}

.redacted:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;
  /* color: 78px; */
  background-color: #111;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-before 3s infinite linear alternate-reverse;
}

.redacted:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 2px;
  width: 100%;
  /* color: 78px; */
  background-color: #111;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-after 2s infinite linear alternate-reverse;
}
.redacted-small:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: -1px;
  width: 100%;
  /* color: 78px; */
  background-color: transparent;
  overflow: hidden;
  clip: rect(0, 300px, 0, 0);
  animation: noise-before-small 3s infinite linear alternate-reverse;
}

.redacted-small:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 1px;
  width: 100%;
  /* color: 78px; */
  background-color: transparent;
  overflow: hidden;
  clip: rect(0, 300px, 0, 0);
  animation: noise-after-small 2s infinite linear alternate-reverse;
}

@keyframes noise-before {
  0% {
    clip: rect(61px, 9999px, 52px, 0);
  }
  5% {
    clip: rect(33px, 9999px, 144px, 0);
  }
  10% {
    clip: rect(121px, 9999px, 115px, 0);
  }
  15% {
    clip: rect(144px, 9999px, 162px, 0);
  }
  20% {
    clip: rect(62px, 9999px, 180px, 0);
  }
  25% {
    clip: rect(34px, 9999px, 42px, 0);
  }
  30% {
    clip: rect(147px, 9999px, 179px, 0);
  }
  35% {
    clip: rect(99px, 9999px, 63px, 0);
  }
  40% {
    clip: rect(188px, 9999px, 122px, 0);
  }
  45% {
    clip: rect(154px, 9999px, 14px, 0);
  }
  50% {
    clip: rect(63px, 9999px, 37px, 0);
  }
  55% {
    clip: rect(161px, 9999px, 147px, 0);
  }
  60% {
    clip: rect(109px, 9999px, 175px, 0);
  }
  65% {
    clip: rect(157px, 9999px, 88px, 0);
  }
  70% {
    clip: rect(173px, 9999px, 131px, 0);
  }
  75% {
    clip: rect(62px, 9999px, 70px, 0);
  }
  80% {
    clip: rect(24px, 9999px, 153px, 0);
  }
  85% {
    clip: rect(138px, 9999px, 40px, 0);
  }
  90% {
    clip: rect(79px, 9999px, 136px, 0);
  }
  95% {
    clip: rect(25px, 9999px, 34px, 0);
  }
  100% {
    clip: rect(173px, 9999px, 166px, 0);
  }
}
@keyframes noise-before-small {
  0% {
    clip: rect(30.5px, 9999px, 26px, 0);
  }
  5% {
    clip: rect(16.5px, 9999px, 72px, 0);
  }
  10% {
    clip: rect(60.5px, 9999px, 57.5px, 0);
  }
  15% {
    clip: rect(72px, 9999px, 81px, 0);
  }
  20% {
    clip: rect(31px, 9999px, 90px, 0);
  }
  25% {
    clip: rect(17px, 9999px, 21px, 0);
  }
  30% {
    clip: rect(73.5px, 9999px, 89.5px, 0);
  }
  35% {
    clip: rect(45.5px, 9999px, 31.5px, 0);
  }
  40% {
    clip: rect(94px, 9999px, 61px, 0);
  }
  45% {
    clip: rect(77px, 9999px, 7px, 0);
  }
  50% {
    clip: rect(31.5px, 9999px, 18.5px, 0);
  }
  55% {
    clip: rect(80.5px, 9999px, 73.5px, 0);
  }
  60% {
    clip: rect(54.5px, 9999px, 87.5px, 0);
  }
  65% {
    clip: rect(78.5px, 9999px, 44px, 0);
  }
  70% {
    clip: rect(86.5px, 9999px, 65.5px, 0);
  }
  75% {
    clip: rect(31px, 9999px, 35px, 0);
  }
  80% {
    clip: rect(12px, 9999px, 76.5px, 0);
  }
  85% {
    clip: rect(69px, 9999px, 20px, 0);
  }
  90% {
    clip: rect(39.5px, 9999px, 68px, 0);
  }
  95% {
    clip: rect(12.5px, 9999px, 17px, 0);
  }
  100% {
    clip: rect(86.5px, 9999px, 83px, 0);
  }
}

@keyframes noise-after {
  0% {
    clip: rect(26px, 9999px, 33px, 0);
  }
  5% {
    clip: rect(140px, 9999px, 198px, 0);
  }
  10% {
    clip: rect(184px, 9999px, 89px, 0);
  }
  15% {
    clip: rect(121px, 9999px, 6px, 0);
  }
  20% {
    clip: rect(181px, 9999px, 99px, 0);
  }
  25% {
    clip: rect(154px, 9999px, 133px, 0);
  }
  30% {
    clip: rect(134px, 9999px, 169px, 0);
  }
  35% {
    clip: rect(26px, 9999px, 187px, 0);
  }
  40% {
    clip: rect(147px, 9999px, 137px, 0);
  }
  45% {
    clip: rect(31px, 9999px, 52px, 0);
  }
  50% {
    clip: rect(191px, 9999px, 109px, 0);
  }
  55% {
    clip: rect(74px, 9999px, 54px, 0);
  }
  60% {
    clip: rect(145px, 9999px, 75px, 0);
  }
  65% {
    clip: rect(153px, 9999px, 198px, 0);
  }
  70% {
    clip: rect(99px, 9999px, 136px, 0);
  }
  75% {
    clip: rect(118px, 9999px, 192px, 0);
  }
  80% {
    clip: rect(1px, 9999px, 83px, 0);
  }
  85% {
    clip: rect(145px, 9999px, 98px, 0);
  }
  90% {
    clip: rect(121px, 9999px, 154px, 0);
  }
  95% {
    clip: rect(156px, 9999px, 44px, 0);
  }
  100% {
    clip: rect(67px, 9999px, 122px, 0);
  }
}
@keyframes noise-after-small {
  0% {
    clip: rect(13px, 9999px, 16.5px, 0);
  }
  5% {
    clip: rect(70px, 9999px, 99px, 0);
  }
  10% {
    clip: rect(92px, 9999px, 44.5px, 0);
  }
  15% {
    clip: rect(60.5px, 9999px, 3px, 0);
  }
  20% {
    clip: rect(90.5px, 9999px, 45.5px, 0);
  }
  25% {
    clip: rect(77px, 9999px, 66.5px, 0);
  }
  30% {
    clip: rect(67px, 9999px, 84.5px, 0);
  }
  35% {
    clip: rect(13px, 9999px, 93.5px, 0);
  }
  40% {
    clip: rect(73.5px, 9999px, 68.5px, 0);
  }
  45% {
    clip: rect(15.5px, 9999px, 26px, 0);
  }
  50% {
    clip: rect(95.5px, 9999px, 54.5px, 0);
  }
  55% {
    clip: rect(37px, 9999px, 27px, 0);
  }
  60% {
    clip: rect(72.5px, 9999px, 37.5px, 0);
  }
  65% {
    clip: rect(76.5px, 9999px, 99px, 0);
  }
  70% {
    clip: rect(49.5px, 9999px, 68px, 0);
  }
  75% {
    clip: rect(59px, 9999px, 96px, 0);
  }
  80% {
    clip: rect(0.5px, 9999px, 41.5px, 0);
  }
  85% {
    clip: rect(72.5px, 9999px, 49px, 0);
  }
  90% {
    clip: rect(60.5px, 9999px, 77px, 0);
  }
  95% {
    clip: rect(78px, 9999px, 22px, 0);
  }
  100% {
    clip: rect(33.5px, 9999px, 61px, 0);
  }
}
