@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Classes */

@layer components {
  .navbar-icon {
    @apply fill-transparent stroke-[50] stroke-[#c7c7c7] opacity-50 group-hover:stroke-[60] group-hover:stroke-primary group-hover:opacity-100 group-hover:blur-lg;
  }

  .navbar-tooltip {
    @apply absolute z-10 w-auto p-2 m-2 text-xs font-bold text-white transition-all duration-100 origin-top scale-0 bg-black bg-opacity-75 rounded-md shadow-md min-w-max top-24;
  }
  p {
    @apply py-[5px] block;
  }
  h1 {
    @apply text-3xl font-bold tracking-widest xs:text-4xl;
  }
  h2 {
    @apply text-xl font-bold xs:text-2xl;
  }
  h3 {
    @apply my-4 text-lg font-bold xs:text-xl;
  }
  h4 {
    @apply my-1 text-lg font-bold xs:text-xl;
  }
  .no-marker li::marker {
    color: transparent;
  }
  ul li {
    @apply pb-1 list-disc marker:text-primary;
  }
  ul {
    @apply mb-4 pl-7;
  }
  a {
    @apply cursor-pointer text-secondary hover:underline;
  }
  .hr-short {
    @apply w-16 mt-2;
  }
  img {
    display: unset;
  }
  .article-font * {
    font-family: inherit !important;
  }
}

hr {
  width: 100%;
  height: 2px;
  background: #e48632;
  margin: 20px 0;
  border: none;
}

.react-tabs {
  @apply text-white;
}

.react-tabs__tab-list {
  @apply p-0 m-3;
}

.react-tabs__tab {
  @apply inline-block bottom-[-1px] relative opacity-50 list-none p-3 cursor-pointer transition-all duration-500;
}

.react-tabs__tab--selected {
  @apply opacity-100 text-primary;
}

.react-tabs__tab--disabled {
  @apply text-gray-400 cursor-default;
}

.react-tabs__tab:focus {
  @apply border-yellow-400 shadow-xl outline-none;
}

.react-tabs__tab:focus:after {
  @apply content-none absolute h-1 left-[-4px] right-[-4px] bottom-[-5px] bg-white;
}

.react-tabs__tab-panel {
  @apply hidden;
}

.react-tabs__tab-panel--selected {
  @apply block;
}

html {
  overflow-x: hidden;
}

html::-webkit-scrollbar-track {
  @apply rounded bg-bg-secondary;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /*border-radius: 10px; */
}

html::-webkit-scrollbar {
  @apply w-[5px] bg-bg-secondary;
}

html::-webkit-scrollbar-thumb {
  @apply rounded-md bg-primary;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

figcaption p span + figcaption p span::before {
  display: inline-block;
  white-space: pre;
  content: ", ";
}

#nprogress .spinner-icon {
  display: none;
}
